/* logo hex codes:
Light Gray = F9F8F2
Pink = EE2D73
Green = A9CF38
Blue = 8594CB
Yellow = E3E230
Orange = F89724
Background image = 292B44 */


.jumbotron{
    /* background: url("../src/components/images/background_cC.png")no-repeat center center fixed; */
    background-size: 100%;
    /* min-height: 80vh; */
    border-radius: 0;
    color: #292B44;
    background-color: transparent;  

}
/* #devjumb{
    background: url("../src/components/images/background_cC.png")no-repeat center center fixed;
    background-size: 100%;
    min-height: 80vh;
    background-color: transparent;  
    padding: -8rem; 
} */

#tagline{
    color:#F9F8F2;
    font-size: 1.9em;
    text-align: center; 
}

h1 {
    color: #A9CF38;
    font-size: 4em;

}

#mission{
    text-align: justify;
    color: #A9CF38;
}

#formtext {
    color: #A9CF38;
    font-size: 1.5em
}


.display-4{
    font-size: 90px;
    margin-top: 1%;
    text-align: center;
}
body{
    font-family: 'Oswald', sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: 18pt;
}
.navbar-brand{
    font-size: 18pt;
}
#root{
    background: url("../src/components/images/background_cC.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.workrow{
    padding: 4%;
}
.card-img-top{
    width: 100%;
    height: 220px;
}
.info {
    padding-bottom: 4%;
    padding-top: 1%;
}
.pics{
    margin: 0 auto;
}
.form{
    padding: 4%;
}
.devgrid{
    /* margin-top: 4%; */
}
.devtext {
    margin-bottom: 4%;
}
#devimg {
    height: 250px;
}
.signupbutton{
    margin: 5%;
    background-color: #8594CB;
    border: #F9F8F2;
    color: #292B44;
    text-align: center;
    
}
.form-row{
    padding: 1%;
}
.container {
    color: #A9CF38;
}
.navbar-light .navbar-nav .nav-link {
    color: #F9F8F2;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #A9CF38;
}

@media screen and (max-width: 850px) {
    .display-4 {
        font-size: 10vw;
        margin-top: 25vw;
    }
}

@media screen and (max-width: 850px) {
    .text-center {
        font-size: 5vw;
        margin-top: 25vw;
    }
}

@media screen and (max-width: 850px) {
    #mission {
        font-size: 5vw;
    }
}

@media screen and (max-width: 850px) {
    .devName {
        font-size: 50%;
    }
}

.btn {
    width: 150px;
    font-size: 25px;
    background: #A9CF38;
    color: white;
    border: #8594CB;
}
.btn:hover {
    background: white;
    color: #A9CF38;
}

.profile-pic {
    width: 150px;
}
p{
    font-family: 'PT Sans', sans-serif;
}
.devName{
    color: white;
}
.person-wrapper{
    background: #7a7a7f73;
    padding: 5px;
    border-radius: 20px;
    border: 2px white solid;
}

<<<<<<< HEAD
/* @media (min-width: 576px) {
    #devjumb {
        padding: -12rem 2rem;
    }
} */
=======
.text-center {
    margin: 20px;
}

.header-image {
    margin-top: -82.5px;
}






>>>>>>> 9efc8a66c185276edc02da2caf2b477de74fb5aa
